<md-card>
    <md-card-title>
      {{marca.marca}}
    </md-card-title>
    <md-divider></md-divider>
    <md-card-content>
      <md-list>
        <md-list-item>
          <md-icon mdListAvatar>av_timer</md-icon>
          <h3 mdLine> Ultima modificación: {{marca.lastUpdated | date:'medium'}}</h3>
        </md-list-item>
        <md-list-item>
          <md-icon mdListAvatar>av_timer</md-icon>
          <h3 mdLine> Creado : {{marca.dateCreated | date}}</h3>
        </md-list-item>
        <md-divider></md-divider>
        
      </md-list>
    </md-card-content>
    <md-card-actions>
      <button md-button color="primary" (click)="modificar()"><md-icon>edit</md-icon> Modificar nombre</button>
      <md-slide-toggle [checked]="marca.activa" >Activo</md-slide-toggle>
    </md-card-actions>
  </md-card>
  