<td-layout-nav logo="assets:siipap-rx2"  navigationRoute="/">
  
  <button md-icon-button td-menu-button  tdLayoutToggle> 
      <md-icon>menu</md-icon>
  </button>
  
  <div td-toolbar-content layout="row" layout-align="start center" flex>
    <span> ({{modulo}})</span>
    <span flex></span>
    <md-icon>{{headerIcon}}</md-icon>
    <span>{{header}} </span>
    <span flex></span>
    <sx-qv-productos-btn></sx-qv-productos-btn>
    <button md-icon-button><md-icon >settings</md-icon></button>
    <sx-module-selector></sx-module-selector>
  </div>

  <ng-content></ng-content>
    
  <td-layout-footer color="primary">
    <sx-page-footer></sx-page-footer>
  </td-layout-footer>

</td-layout-nav>
      