<td-layout-nav-list #navList
[color]="color"
[opened]="media.registerQuery('gt-sm') | async"
[mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'over'"
[sidenavWidth]="(media.registerQuery('gt-xs') | async) ? sideNavWidth : '100%'">

  <div td-sidenav-toolbar-content layout="row" layout-align="start center">
    <button md-icon-button tdLayoutToggle>
      <md-icon>menu</md-icon>
    </button>
    <md-icon [routerLink]="['/']" class="md-icon-logo cursor-pointer" svgIcon="assets:siipap-rx2"></md-icon>
  </div>

  <div td-toolbar-content layout="row" layout-align="start center" flex>
    <span flex></span>
    <md-icon>{{headerIcon}}</md-icon>
    <span>{{header}} </span>
    <span flex></span>
    <span> SX-POS </span>
    <span> ({{modulo}})</span>

    <!-- <sx-prod-selector-btn></sx-prod-selector-btn> -->
    <button md-icon-button><md-icon >settings</md-icon></button>
    <sx-module-selector></sx-module-selector>
  </div>

  

  <md-nav-list td-sidenav-content [tdLayoutNavListClose]="!media.query('gt-sm')" >
    <ng-template let-item let-last="last" ngFor [ngForOf]="navigation">
      <md-list-item 
        [routerLinkActive]="['active']"
        [routerLink]="item.route"
        [routerLinkActiveOptions]="{exact:false}">
        <md-icon md-list-icon>{{item.icon}}</md-icon>
        <h3 md-line> {{item.title}} </h3>
        <p md-line >{{item?.description}}</p>
      </md-list-item>
        <!-- <a md-list-item
           md-ripple class="block relative"
           [routerLinkActive]="['active']"
           [routerLink]="item.route"
           [routerLinkActiveOptions]="{exact:false}">
          <md-icon mdListAvatar>{{item.icon}}</md-icon>
          <h3 md-line> {{item.title}} </h3>
          <p md-line >{{item?.description}}</p>
        </a> -->
        <md-divider md-inset *ngIf="!last"></md-divider>
      </ng-template>
  </md-nav-list>

  <ng-content></ng-content>


  <td-layout-footer [color]="color">
    <sx-page-footer></sx-page-footer>
  </td-layout-footer>

</td-layout-nav-list>
