<td-layout-nav logo="assets:siipap-rx2" toolbarTitle="Sistema de administración "       color="primary" navigationRoute="/">

  <button md-icon-button td-menu-button tdLayoutToggle>
    <md-icon>menu</md-icon>
  </button>


   <div td-toolbar-content layout="row" layout-align="start center" flex>
    <span hide-xs></span>
    <span flex ></span>
     <span>
      <button md-icon-button [mdMenuTriggerFor]="toolbarMenu"><md-icon>more_vert</md-icon></button>
      <md-menu #toolbarMenu="mdMenu">
        <button md-menu-item>
          <md-icon>settings</md-icon>
          <span>Configuración</span>
        </button>
        <a md-menu-item routerLink="/security">
          <md-icon>tune</md-icon>
          <span>Sistemas</span>
        </a>
      </md-menu>
    </span>
  </div>

  <div layout="row" layout-align="center start" *ngIf="application$ | async;  let application">

    <md-card >

      <img md-card-image  src="{{application.image}}" class="home-images">
      <md-card-title>{{application.nombre}}</md-card-title>
      <md-card-subtitle>{{application.descripcion}}</md-card-subtitle>
      <md-card-actions>
        <div layout="row" class="tc-grey-600" layout-align="center">
          <a md-button  *ngFor="let modulo of modulos$ | async" color="warn" [routerLink]="resolveLink(modulo)">
            {{modulo.nombre}} <md-icon>{{modulo.icon}}</md-icon>

          </a>
        </div>

      </md-card-actions>
    </md-card>

    <md-card flex>
      <md-card-title>Módulos</md-card-title>
      <md-divider></md-divider>
      <md-nav-list>
        <a  *ngFor="let modulo of modulos$ | async" [routerLink]="modulo.path" md-list-item>
          <md-icon mdListAvatar class="bgc-amber-800">{{modulo.icon}}</md-icon>
          <h4 md-line>{{modulo.nombre}}</h4>
          <p md-line>{{modulo.descripcion}}</p>
        </a>
      </md-nav-list>
    </md-card>

  </div>


   <td-layout-footer color="primary">
     <sx-page-footer></sx-page-footer>
  </td-layout-footer>
</td-layout-nav>
