<td-layout-nav logo="assets:siipap-rx2"  navigationRoute="/" toolbarTitle="Sistemas" >
  
  <button md-icon-button td-menu-button tdLayoutToggle>
    <md-icon>menu</md-icon>
  </button>
  
  <div td-toolbar-content layout="row" layout-align="start center" flex>
    
    <span flex></span>
    <md-icon>apps</md-icon>
    <span>Sistema de seguridad </span>
    <span flex></span>
    <sx-qv-productos-btn></sx-qv-productos-btn>
    <sx-module-selector></sx-module-selector>
  </div>

  <td-layout-manage-list #manageList
    [opened]="media.registerQuery('gt-sm') | async"
    [mode]="(media.registerQuery('gt-sm') | async) ? 'side' :  'over'"
    [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '257px' : '100%'">
    
    <md-toolbar td-sidenav-content>
      Catálogo
    </md-toolbar>
    
    <div td-sidenav-content>
      <md-nav-list>
        <ng-template let-item let-last="last" ngFor [ngForOf]="navigation">
          <md-list-item 
            [routerLinkActive]="['active']"
            [routerLink]="item.route"
            [routerLinkActiveOptions]="{exact:false}">
            <md-icon md-list-icon>{{item.icon}}</md-icon>
            <h3 md-line> {{item.title}} </h3>
            <p md-line >{{item?.description}}</p>
          </md-list-item>
          <md-divider md-inset *ngIf="!last"></md-divider>
        </ng-template>
      </md-nav-list>
    </div>

    <md-toolbar>
      <div layout="row">
        <button md-icon-button tdLayoutManageListOpen [hideWhenOpened]="true" >
          <md-icon>arrow_back</md-icon>
        </button>
        <span flex></span>
        <button [tdLayoutManageListToggle] md-icon-button><md-icon>view_quilt</md-icon></button>
        <span>Seleccione un catálogo</span>
        
        
      </div>
    </md-toolbar>
    <router-outlet></router-outlet>

  </td-layout-manage-list>

</td-layout-nav>