<form [formGroup] = "loginForm" >

  <md-list>
    <md-list-item>
      <md-icon md-list-avatar>account_box</md-icon>
      <md-input-container md-line>
        <input mdInput type="text"
               formControlName="username"
               placeholder="Usuario"
               #userField
               autofocus="true">
        <md-hint align="end">{{userField.value.length}} / 30</md-hint>
        <md-error *ngIf="formErrors.username">
          {{ formErrors.username }}
        </md-error>

      </md-input-container>

    </md-list-item>

    <md-list-item>
      <md-icon md-list-avatar>lock</md-icon>
      <md-input-container md-line>
        <input type="password"
               formControlName="password"
               mdInput
               placeholder="Password">
        <md-error *ngIf="formErrors.password">
          {{ formErrors.password }}
        </md-error>
      </md-input-container>

    </md-list-item>

  </md-list>

  <!--<div layout="row" >
    <md-input-container flex>
      <input mdInput type="text"
             formControlName="username"
             placeholder="Usuario"
             #userField
             autofocus="true">
      <md-icon mdSuffix>person</md-icon>
      <md-hint align="end">{{userField.value.length}} / 30</md-hint>
      <md-error *ngIf="formErrors.username">
        {{ formErrors.username }}
      </md-error>

    </md-input-container>
  </div>-->

  <!--<div layout="row">
    <md-input-container flex>
      <input type="password"
             formControlName="password"
             mdInput
             placeholder="Password">
      <md-icon  mdSuffix>lock</md-icon>
      <md-error *ngIf="formErrors.password">
        {{ formErrors.password }}
      </md-error>
    </md-input-container>
  </div>-->
  <!--<md-divider></md-divider>-->

  <div class="row">
    <button md-raised-button color="accent" [disabled]="loginForm.invalid" (click)="doLogin()">Login</button>
  </div>
</form>

