<td-layout-nav
  [logo]="logo">

  <button md-icon-button td-menu-button tdLayoutToggle>
    <md-icon>menu</md-icon>
  </button>

  <div td-toolbar-content layout="row" layout-align="center center" flex>

    <span flex="50" class="text-center">{{title}}</span>
    <span flex></span>
    <sx-modulo-label></sx-modulo-label>
    <button md-icon-button><md-icon >settings</md-icon></button>
    <button md-icon-button><md-icon >more_vert</md-icon></button>
  </div>


  <ng-content></ng-content>

  <td-layout-footer [color]="color">
    <sx-page-footer></sx-page-footer>
  </td-layout-footer>

</td-layout-nav>
