<div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
  <md-card flex-gt-sm="50">
    
    <div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">
      <td-search-box #searchBox backIcon="arrow_back" class="push-right-sm" [alwaysVisible]="true"
        placeholder="Buscar " (searchDebounce)="search($event)" flex>
      </td-search-box>

      <span>
        <button md-icon-button [mdMenuTriggerFor]="toolbarMenu"><md-icon>more_vert</md-icon></button>
        <md-menu #toolbarMenu="mdMenu">
          <button md-menu-item>
            <md-icon>settings</md-icon>
            <span>Filtro avanzado</span>
          </button>
        </md-menu>
      </span>
    </div>
    
    <md-divider></md-divider>
    <md-card-content class="will-load">
      <sx-proveedores-list [proveedores]="proveedores$ | async" (selection)="onSelection($event)">
      </sx-proveedores-list>
    </md-card-content>
  </md-card>
      
      <div flex-gt-sm="50" *ngIf=" selected !== undefined" class="will-load">
          <sx-proveedor-view [proveedor]="selected" >
          </sx-proveedor-view>
      </div>
        
    </div>