<md-card>
  <div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">
    <span *ngIf="!searchBox.searchVisible" class="push-left-sm">
      <span class="md-title">Catálogo de clientes</span>
    </span>
    <td-search-box #searchBox 
      backIcon="arrow_back" 
      class="push-right-sm" 
      placeholder="Buscar" (searchDebounce)="searchCliente($event)" flex>
    </td-search-box>
    <span>
      <button md-icon-button [mdMenuTriggerFor]="toolbarMenu"><md-icon>more_vert</md-icon></button>
      <md-menu #toolbarMenu="mdMenu">
        <button md-menu-item (click)="searchTarjeta()">
          <md-icon>loyalty</md-icon>
          <span>Tarjeta de lealtad</span>
        </button>
      </md-menu>
    </span>
  </div>
  <md-divider></md-divider>  
  
  <div class="will-load">
    <md-card-content >
      <md-list>
        <ng-template let-cliente let-last="last" ngFor [ngForOf]="clientes">
            <a md-list-item (click)="select(cliente)" >
              <md-icon md-list-avatar  color="accent">account_circle</md-icon>
              <h3 md-line> {{cliente.nombre}} </h3>
              <span md-line>{{cliente.clave}} Modificado: {{cliente.lastUpdated | date: 'dd/MM/yyyy HH:mm'}} </span>
              <span flex></span>
              <span hide-xs  class="tc-deep-orange-700">pendiente</span>
              <span hide-xs  class="text-right md-body-1 tc-grey-500 pad-right">
                Modificado: {{cliente.lastUpdated | date: 'dd/MM/yyyy HH:mm'}}
              </span>
              <span hide-xs flex="30">
                 {{cliente.dateCreated  | amLocale:'es'| amTimeAgo:true}} de cliente
              </span>
            </a>
            <md-divider md-inset *ngIf="!last"></md-divider>
          </ng-template>
      </md-list>
    </md-card-content>
  </div>
</md-card> 