<td-layout-nav logo="assets:siipap-rx2"  navigationRoute="/">
  
  <button md-icon-button td-menu-button  tdLayoutToggle> 
      <md-icon>menu</md-icon>
  </button>
    
  <div td-toolbar-content layout="row" layout-align="start center" flex>
      <span flex></span>
    <span>Busqueda de clientes </span>
    <span flex></span>
    <span> SX-CRM</span>
    <sx-module-selector></sx-module-selector>
  </div>

  <div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">

    <sx-clientes-search flex="60" 
      (search)="onSearch($event)"
      (tarjeta)="onTarjeta()"
      [clientes]="clientes$ | async">
    </sx-clientes-search>

    <md-card flex >

      <div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">
        <span class="push-left-sm">
          <span class="md-title">Programa de lealtad</span>
        </span>
        <span flex></span> 
        <md-input-container >
          <input mdInput type="text" disabled placeholder="Pase la tarjeta por el lector" [(ngModel)]="tarjeta">
        </md-input-container>
      </div>

      <md-divider></md-divider>  
      <md-card-content *ngIf="tarjetaError">
        {{tarjetaError}}
      </md-card-content>
      <md-list dense *ngIf="cliente" class="will-load">
        <md-list-item>
          <md-icon md-list-avatar>account_box</md-icon>
          <h4 md-line>{{cliente.nombre}}</h4>
          <p md-line>{{cliente.clave}}</p>
        </md-list-item>
        <md-divider md-inset></md-divider>
        <md-list-item>
            <md-icon md-list-avatar>vpn_key</md-icon>
            <h4 md-line>1141e8e8-8d24-4956-93c2</h4>
            <p md-line>Tarjeta</p>
        </md-list-item>
        <md-divider></md-divider>
        <h3 md-subheader>Estadísticas</h3>
        <md-list-item>
            <h4 md-line>Facturas: {{cliente.facturas}}</h4>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item>
            <h4 md-line>Ventas: {{cliente.ventas | currency:'MXN':true }}</h4>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item>
            <h4 md-line>Ticket promedio: {{cliente.ticketPromedio}}</h4>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item>
            <h4 md-line>Meses: {{cliente.meses}}</h4>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item>
            <h4 md-line>Venta mensual: {{cliente.ventaMensualPromedio | currency:'MXN':true}}</h4>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item>
            <h4 md-line>Puntos: {{cliente.puntos }}</h4>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item>
            <h4 md-line>Monto: {{cliente.puntos  | currency:'MXN':true }}</h4>
        </md-list-item>
        
       
      </md-list>

    </md-card> 

  </div>
    
  <td-layout-footer color="primary">
    <sx-page-footer></sx-page-footer>
  </td-layout-footer>

</td-layout-nav>
      