<td-layout-nav logo="assets:siipap-rx2"  navigationRoute="/">
  
  <button md-icon-button td-menu-button  tdLayoutToggle> 
      <md-icon>menu</md-icon>
  </button>
    
  <div td-toolbar-content layout="row" layout-align="start center" flex>
      <span flex></span>
    <span>Busqueda de clientes </span>
    <span flex></span>
    <span> SX-CRM</span>
    <sx-module-selector></sx-module-selector>
  </div>

  <div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">

    <sx-clientes-search flex="50" 
      (search)="onSearch($event)" 
      [clientes]="clientes$ | async">
    </sx-clientes-search>
  </div>
    
  <td-layout-footer color="primary">
    <sx-page-footer></sx-page-footer>
  </td-layout-footer>

</td-layout-nav>
      