<div layout>
  <md-card flex="50">
    <md-card-title>Líneas de productos registradas</md-card-title>
    <md-divider></md-divider>
    <md-card-content class="will-load">
      <sx-lineas-list [lineas]="lineas$ | async" (selection)="onSelection($event)">

      </sx-lineas-list>
    </md-card-content>
  </md-card>

  <div flex="50" *ngIf=" selected !== undefined" class="will-load">
      <sx-linea-view [linea]="selected" (modificacionNombre)="onModificacionNombre($event)">

      </sx-linea-view>
  </div>
  
</div>