<md-nav-list>
  <md-list-item>
    <md-icon md-list-icon>vpn_key</md-icon>
    <span mdLine>Descripcion</span>
    <span>Clave</span>
  </md-list-item>
  <md-divider></md-divider>
  <td-virtual-scroll-container #virtualScroll [style.height.px]="400" [data]="productos">
    <ng-template let-row="row" let-last="last" tdVirtualScrollRow>
      <a md-list-item (click)="select(row)" [ngClass]="{active: isSelected(row)}" >
        <md-icon md-list-icon >storage</md-icon>
        <span md-line>{{row.descripcion}}</span>
        <span md-line>{{row.clave}}
          <span *ngIf="!row.activo" class="text-xs tc-red-700">SUSPENDIDO</span>
        </span>
        <span flex></span>
        
        <span hide-xs flex="30" class="text-right md-body-1 tc-grey-500 pad-left">
          {{row.precioCredito | number:'1.2-2'}}
        </span>
        <span hide-xs flex="30" class="text-right md-body-1  pad-left">
          {{row.precioContado | number:'1.2-2'}}
        </span>
      </a>
      <md-divider *ngIf="!last" md-inset></md-divider>
    </ng-template>
  </td-virtual-scroll-container>
</md-nav-list>